## 1. Import Libraries

In [1]:
import pandas as pd

## 2. Define Parameters

In [7]:
# Parameters
csv_file= '../data/source/readmission_raw_data_sample.csv'
sql_file= '../sql/02_2_insert_diabetes_readmission_raw.sql'
table = "diabetes_readmissions"

## 3. Load data

In [8]:
# Load CSV
df = pd.read_csv(csv_file)
df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,2600796,1451637,Caucasian,Female,[20-30),?,6,25,7,1,...,No,No,No,No,No,No,No,No,Yes,>30
195,2601576,279009,Caucasian,Female,[60-70),?,6,25,1,1,...,No,Down,No,No,No,No,No,Ch,Yes,>30
196,2602860,511965,Caucasian,Female,[60-70),?,6,25,7,4,...,No,Down,No,No,No,No,No,Ch,Yes,NO
197,2629110,2283327,AfricanAmerican,Female,[40-50),?,6,25,1,6,...,No,Up,No,No,No,No,No,Ch,Yes,<30
198,2638410,6225435,Caucasian,Female,[30-40),?,6,25,1,4,...,No,No,No,No,No,No,No,No,No,NO

## 4. Select Required Columns

In [9]:
# Columns to insert
columns_to_insert = [
    'encounter_id', 'patient_nbr', 'race', 'gender', 'age',
    'admission_type_id', 'discharge_disposition_id', 'time_in_hospital',
    'num_lab_procedures', 'num_medications', 'number_diagnoses',
    'diag_1', 'diag_2', 'diag_3', 'readmitted',
    'admission_source_id', 'diabetesMed',
    'insulin', 'change', 'num_procedures', 'number_outpatient',
    'number_emergency', 'number_inpatient'
]
df_modified = df[columns_to_insert]
df_modified = df[columns_to_insert].copy()
df_modified.rename(columns={"change": "medication_change"},inplace=True)
df_modified

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_medications,...,diag_3,readmitted,admission_source_id,diabetesMed,insulin,medication_change,num_procedures,number_outpatient,number_emergency,number_inpatient
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,41,1,...,?,NO,1,No,No,No,0,0,0,0
1,149190,55629189,Caucasian,Female,[10-20),1,1,3,59,18,...,255,>30,7,Yes,Up,Ch,0,0,0,0
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,2,11,13,...,V27,NO,7,Yes,No,No,5,2,0,1
3,500364,82442376,Caucasian,Male,[30-40),1,1,2,44,16,...,403,NO,7,Yes,Up,Ch,1,0,0,0
4,16680,42519267,Caucasian,Male,[40-50),1,1,1,51,8,...,250,NO,7,Yes,Steady,Ch,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,2600796,1451637,Caucasian,Female,[20-30),6,25,1,66,6,...,?,>30,7,Yes,No,No,0,0,0,0
195,2601576,279009,Caucasian,Female,[60-70),6,25,1,31,16,...,362,>30,1,Yes,Down,Ch,2,0,0,0
196,2602860,511965,Caucasian,Female,[60-70),6,25,4,57,17,...,250.4,NO,7,Yes,Down,Ch,1,0,0,0
197,2629110,2283327,AfricanAmerican,Female,[40-50),6,25,6,60,27,...,250.02,<30,1,Yes,Up,Ch,5,0,0,0
198,2638410,6225435,Caucasian,Female,[30-40),6,25,4,65,25,...,654,NO,1,No,No,No,3,0,0,0

## 5. Generate INSERT Statements

In [12]:
sql_statements = []

cols = ", ".join(df_modified.columns)

for idx, row in df_modified.iterrows():

    vals = ", ".join(
        f"'{str(v).replace('\'','\\\'')}'" for v in row.values
    )

    sql_statements.append(
        f"INSERT INTO {table} ({cols}) VALUES ({vals});\n"
    )

## 6. Write SQL to File

In [15]:
# Save to .sql file

with open(sql_file, "w") as f:
    f.write(f"DELETE FROM {table};\n")

    f.write("\n".join(sql_statements))

print(f"Done! File {sql_file} has been created.")

Done! File ../sql/02_2_insert_diabetes_readmission_raw.sql has been created.