In [43]:
import pandas as pd
import sqlite3

## 1. Create Database

In [44]:
conn = sqlite3.connect("readmissions.db")

## 2. Open Cursor

In [45]:
cursor = conn.cursor()

## 3. Create Raw Table

In [46]:
with open("../sql/02_1_create_diabetes_readmissions_raw.sql", "r") as f:
    sql_script = f.read()

print("Create raw table SQL:", sql_script, sep="\n")
cursor.executescript(sql_script)

cursor.executescript(sql_script)

Create raw table SQL:
-- RAW TABLE - Stores original diabetes readmissions data without transforms.

DROP TABLE IF EXISTS diabetes_readmissions;

CREATE TABLE diabetes_readmissions
(
    encounter_id NUMBER,
    patient_nbr NUMBER,
    race VARCHAR2 (100),
    gender VARCHAR2 (100),
    age VARCHAR2 (100),
    admission_type_id NUMBER,
    discharge_disposition_id NUMBER,
    time_in_hospital NUMBER,
    num_lab_procedures NUMBER,
    num_medications NUMBER,
    number_diagnoses NUMBER,
    diag_1 VARCHAR2(100),
    diag_2 VARCHAR2(100),
    diag_3 VARCHAR2(100),
    readmitted VARCHAR2(100),
    admission_source_id NUMBER,
    medical_specialty VARCHAR2(100),
    diabetesMed VARCHAR2(100),
    insulin VARCHAR2(100),
    change VARCHAR2(100),
    num_procedures NUMBER,
    number_outpatient NUMBER,
    number_emergency NUMBER,
    number_inpatient NUMBER,
    A1Cresult VARCHAR2(100),
    max_glu_serum VARCHAR2(100));

-- Rename column to avoid reserved-word ambiguity
ALTER TABLE diabetes_readmissions
RENAME COLUMN change TO medication_change;

## 4. Insert Data into Raw Table

In [47]:
with open("../sql/02_2_insert_diabetes_readmission_raw.sql", "r") as f:
    sql_script = f.read()

print("Insert raw data SQL:", sql_script, sep="\n")

cursor.executescript(sql_script)

Insert raw data SQL:
DELETE FROM diabetes_readmissions;
INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('2278392', '8222157', 'Caucasian', 'Female', '[0-10)', '6', '25', '1', '41', '1', '1', '250.83', '?', '?', 'NO', '1', 'No', 'No', 'No', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('149190', '55629189', 'Caucasian', 'Female', '[10-20)', '1', '1', '3', '59', '18', '9', '276', '250.01', '255', '>30', '7', 'Yes', 'Up', 'Ch', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('64410', '86047875', 'AfricanAmerican', 'Female', '[20-30)', '1', '1', '2', '11', '13', '6', '648', '250', 'V27', 'NO', '7', 'Yes', 'No', 'No', '5', '2', '0', '1');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('500364', '82442376', 'Caucasian', 'Male', '[30-40)', '1', '1', '2', '44', '16', '7', '8', '250.43', '403', 'NO', '7', 'Yes', 'Up', 'Ch', '1', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('16680', '42519267', 'Caucasian', 'Male', '[40-50)', '1', '1', '1', '51', '8', '5', '197', '157', '250', 'NO', '7', 'Yes', 'Steady', 'Ch', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('35754', '82637451', 'Caucasian', 'Male', '[50-60)', '2', '1', '3', '31', '16', '9', '414', '411', '250', '>30', '2', 'Yes', 'Steady', 'No', '6', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('55842', '84259809', 'Caucasian', 'Male', '[60-70)', '3', '1', '4', '70', '21', '7', '414', '411', 'V45', 'NO', '2', 'Yes', 'Steady', 'Ch', '1', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('63768', '114882984', 'Caucasian', 'Male', '[70-80)', '1', '1', '5', '73', '12', '8', '428', '492', '250', '>30', '7', 'Yes', 'No', 'No', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('12522', '48330783', 'Caucasian', 'Female', '[80-90)', '2', '1', '13', '68', '28', '8', '398', '427', '38', 'NO', '4', 'Yes', 'Steady', 'Ch', '2', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('15738', '63555939', 'Caucasian', 'Female', '[90-100)', '3', '3', '12', '33', '18', '8', '434', '198', '486', 'NO', '4', 'Yes', 'Steady', 'Ch', '3', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('28236', '89869032', 'AfricanAmerican', 'Female', '[40-50)', '1', '1', '9', '47', '17', '9', '250.7', '403', '996', '>30', '7', 'Yes', 'Steady', 'No', '2', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('36900', '77391171', 'AfricanAmerican', 'Male', '[60-70)', '2', '1', '7', '62', '11', '7', '157', '288', '197', '<30', '4', 'Yes', 'Steady', 'Ch', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('40926', '85504905', 'Caucasian', 'Female', '[40-50)', '1', '3', '7', '60', '15', '8', '428', '250.43', '250.6', '<30', '7', 'Yes', 'Down', 'Ch', '0', '0', '1', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('42570', '77586282', 'Caucasian', 'Male', '[80-90)', '1', '6', '10', '55', '31', '8', '428', '411', '427', 'NO', '7', 'Yes', 'Steady', 'No', '1', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('62256', '49726791', 'AfricanAmerican', 'Female', '[60-70)', '3', '1', '1', '49', '2', '8', '518', '998', '627', '>30', '2', 'Yes', 'Steady', 'No', '5', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('73578', '86328819', 'AfricanAmerican', 'Male', '[60-70)', '1', '3', '12', '75', '13', '9', '999', '507', '996', 'NO', '7', 'Yes', 'Up', 'Ch', '5', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('77076', '92519352', 'AfricanAmerican', 'Male', '[50-60)', '1', '1', '4', '45', '17', '8', '410', '411', '414', '<30', '7', 'Yes', 'Steady', 'Ch', '4', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('84222', '108662661', 'Caucasian', 'Female', '[50-60)', '1', '1', '3', '29', '11', '3', '682', '174', '250', 'NO', '7', 'Yes', 'No', 'No', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('89682', '107389323', 'AfricanAmerican', 'Male', '[70-80)', '1', '1', '5', '35', '23', '9', '402', '425', '416', '>30', '7', 'Yes', 'Steady', 'No', '5', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('148530', '69422211', '?', 'Male', '[70-80)', '3', '6', '6', '42', '23', '8', '737', '427', '714', 'NO', '2', 'Yes', 'Steady', 'Ch', '2', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('150006', '22864131', '?', 'Female', '[50-60)', '2', '1', '2', '66', '19', '7', '410', '427', '428', 'NO', '4', 'Yes', 'Down', 'Ch', '1', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('150048', '21239181', '?', 'Male', '[60-70)', '2', '1', '2', '36', '11', '6', '572', '456', '427', 'NO', '4', 'Yes', 'Steady', 'Ch', '2', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('182796', '63000108', 'AfricanAmerican', 'Female', '[70-80)', '2', '1', '2', '47', '12', '8', '410', '401', '582', 'NO', '4', 'No', 'No', 'No', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('183930', '107400762', 'Caucasian', 'Female', '[80-90)', '2', '6', '11', '42', '19', '8', 'V57', '715', 'V43', '>30', '1', 'No', 'No', 'No', '2', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('216156', '62718876', 'AfricanAmerican', 'Female', '[70-80)', '3', '1', '3', '19', '18', '6', '189', '496', '427', 'NO', '2', 'Yes', 'Steady', 'Ch', '4', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('221634', '21861756', 'Other', 'Female', '[50-60)', '1', '1', '1', '33', '7', '3', '786', '401', '250', 'NO', '7', 'Yes', 'No', 'No', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('236316', '40523301', 'Caucasian', 'Male', '[80-90)', '1', '3', '6', '64', '18', '7', '427', '428', '414', 'NO', '7', 'Yes', 'No', 'Ch', '3', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('248916', '115196778', 'Caucasian', 'Female', '[50-60)', '1', '1', '2', '25', '11', '3', '996', '585', '250.01', '>30', '1', 'Yes', 'Steady', 'No', '2', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('250872', '41606064', 'Caucasian', 'Male', '[20-30)', '2', '1', '10', '53', '20', '6', '277', '250.02', '263', '>30', '2', 'Yes', 'Down', 'Ch', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('252822', '18196434', 'Caucasian', 'Female', '[80-90)', '1', '2', '5', '52', '14', '8', '428', '410', '414', '>30', '7', 'Yes', 'No', 'Ch', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('253380', '56480238', 'AfricanAmerican', 'Female', '[60-70)', '1', '1', '6', '87', '18', '9', '584', '496', '250.42', 'NO', '7', 'Yes', 'Steady', 'Ch', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('253722', '96664626', 'AfricanAmerican', 'Male', '[70-80)', '1', '5', '1', '53', '10', '8', '462', '250.01', '276', '>30', '7', 'Yes', 'Down', 'Ch', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('260166', '80845353', 'Caucasian', 'Female', '[70-80)', '1', '1', '6', '27', '16', '8', '996', '999', '250.01', '>30', '7', 'Yes', 'Steady', 'No', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('293058', '114715242', 'Caucasian', 'Male', '[60-70)', '2', '6', '5', '37', '18', '8', '473', '996', '482', '>30', '2', 'Yes', 'Steady', 'No', '0', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('293118', '3327282', 'Caucasian', 'Female', '[70-80)', '2', '11', '5', '46', '20', '9', '428', '585', '414', 'NO', '2', 'Yes', 'Down', 'Ch', '2', '0', '0', '0');

INSERT INTO diabetes_readmissions (encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, time_in_hospital, num_lab_procedures, num_medications, number_diagnoses, diag_1, diag_2, diag_3, readmitted, admission_source_id, diabetesMed, insulin, medication_change, num_procedures, number_outpatient, number_emergency, number_inpatient) VALUES ('325848', '63023292', 'Caucasian', 'Female', '[60-70)', '1', '1', '2', '41', '11', '6', '411', '250.01', '401', '>30', '7', 'Yes', 'Down', 'Ch', '0', '0', '0', '0');


## 5. Create Clean Table

In [48]:
with open("../sql/02_3_create_diabetes_readmissions_clean.sql", "r") as f:
    sql_script = f.read()

print("Create clean table SQL:", sql_script, sep="\n")
cursor.executescript(sql_script)

cursor.executescript(sql_script)

Create clean table SQL:
-- CLEAN TABLE - Contains cleaned data + engineered features

DROP TABLE IF EXISTS diabetes_readmissions_clean;

CREATE TABLE diabetes_readmissions_clean
(
    encounter_id NUMBER,
    patient_nbr NUMBER,
    race VARCHAR2 (100),
    gender VARCHAR2 (100),
    age VARCHAR2 (100),
    admission_type_id NUMBER,
    discharge_disposition_id NUMBER,
    time_in_hospital NUMBER,
    num_lab_procedures NUMBER,
    num_medications NUMBER,
    number_diagnoses NUMBER,
    diag_1 VARCHAR2(100),
    diag_2 VARCHAR2(100),
    diag_3 VARCHAR2(100),
    readmitted VARCHAR2(100),
    admission_source_id NUMBER,
    medical_specialty VARCHAR2(100),
    diabetesMed VARCHAR2(100),
    insulin VARCHAR2(100),
    medication_change VARCHAR2(100),
    num_procedures NUMBER,
    number_outpatient NUMBER,
    number_emergency NUMBER,
    number_inpatient NUMBER,
    A1Cresult VARCHAR2(100),
    max_glu_serum VARCHAR2(100),
    readmit_30d NUMBER,
    los_group  VARCHAR2(100),
    age_group  VARCHAR2(100),
    risk_score NUMBER,
    risk_category VARCHAR2(100)
);

## 6. Insert Data into Clean Table

In [50]:
with open("../sql/02_4_insert_diabetes_readmissions_clean.sql", "r") as f:
    sql_script = f.read()

print("Insert clean data SQL:", sql_script, sep="\n")

cursor.executescript(sql_script)

Insert clean data SQL:
DELETE FROM diabetes_readmissions_clean;

-- INSERT CLEANED AND FEATURE-ENGINEERED DATA
INSERT INTO diabetes_readmissions_clean (
    encounter_id,
    patient_nbr,
    race,
    gender,
    age,
    admission_type_id,
    discharge_disposition_id,
    time_in_hospital,
    num_lab_procedures,
    num_medications,
    number_diagnoses,
    diag_1,
    diag_2,
    diag_3,
    readmitted,
    admission_source_id,
    medical_specialty,
    diabetesMed,
    insulin,
    medication_change,
    num_procedures,
    number_outpatient,
    number_emergency,
    number_inpatient,
    A1Cresult,
    max_glu_serum,
    readmit_30d,
    los_group,
    age_group,
    risk_score,
    risk_category
)
WITH d AS (
SELECT
    encounter_id,
    patient_nbr,
    CASE
        WHEN race = '?' THEN NULL
        ELSE race
    END AS race,
    gender,
    age,
    admission_type_id,
    discharge_disposition_id,
    time_in_hospital,
    num_lab_procedures,
    num_medications,
    number_diagnoses,
    CASE
        WHEN diag_1 LIKE '250%' THEN 'Diabetes'
        WHEN diag_1 LIKE '428%'
             OR diag_1 IN ('398.91', '402.01', '402.11', '402.91',
                              '404.01', '404.03', '404.11', '404.13',
                              '404.91', '404.93')
        THEN 'CHF'
        WHEN diag_1 LIKE '585%'
             OR diag_1 = '586'
             OR diag_1 LIKE '403%'
             OR diag_1 LIKE '404%'
        THEN 'CKD'
        WHEN (SUBSTR(diag_1,1,3) BETWEEN '490' AND '492')
             OR diag_1 = '494'
             OR diag_1 = '496'
        THEN 'COPD'
        WHEN diag_1 = '?' THEN NULL
        ELSE 'Other'
    END AS diag_1_group,
    CASE
        WHEN diag_2 LIKE '250%' THEN 'Diabetes'
        WHEN diag_2 LIKE '428%'
             OR diag_2 IN ('398.91', '402.01', '402.11', '402.91',
                              '404.01', '404.03', '404.11', '404.13',
                              '404.91', '404.93')
        THEN 'CHF'
        WHEN diag_2 LIKE '585%'
             OR diag_2 = '586'
             OR diag_2 LIKE '403%'
             OR diag_2 LIKE '404%'
        THEN 'CKD'
        WHEN (SUBSTR(diag_1,1,3) BETWEEN '490' AND '492')
             OR diag_2 = '494'
             OR diag_2 = '496'
        THEN 'COPD'
        WHEN diag_2 = '?' THEN NULL
        ELSE 'Other'
    END AS diag_2_group,
    CASE
        WHEN diag_3 LIKE '250%' THEN 'Diabetes'
        WHEN diag_3 LIKE '428%'
             OR diag_3 IN ('398.91', '402.01', '402.11', '402.91',
                              '404.01', '404.03', '404.11', '404.13',
                              '404.91', '404.93')
        THEN 'CHF'
        WHEN diag_3 LIKE '585%'
             OR diag_3 = '586'
             OR diag_3 LIKE '403%'
             OR diag_3 LIKE '404%'
        THEN 'CKD'
        WHEN (SUBSTR(diag_1,1,3) BETWEEN '490' AND '492')
             OR diag_3 = '494'
             OR diag_3 = '496'
        THEN 'COPD'
        WHEN diag_3 = '?' THEN NULL
        ELSE 'Other'
    END AS diag_3_group,
    readmitted,
    admission_source_id,
    CASE
        WHEN medical_specialty = '?' THEN NULL
        ELSE medical_specialty
    END AS medical_spetialty,
    diabetesMed,
    insulin,
    medication_change,
    num_procedures,
    number_outpatient,
    number_emergency,
    number_inpatient,
    A1Cresult,
    max_glu_serum,
    -- Target variable
    CASE
        WHEN readmitted = '<30' THEN 1
        ELSE 0
    END AS readmit_30d,
    -- Length of stay group
    CASE
        WHEN time_in_hospital <= 3 THEN 'Short'
        WHEN time_in_hospital <= 7 THEN 'Medium'
        ELSE 'Long'
    END AS los_group,
    -- Age groups
    CASE
        WHEN age IN ('[0-10)', '[10-20)', '[20-30)') THEN 'Young'
        WHEN age IN ('[30-40)', '[40-50)', '[50-60)') THEN 'Middle'
        ELSE 'Senior'
    END AS age_group
FROM diabetes_readmissions
WHERE time_in_hospital >= 1), -- Remove invalid hospital stays
d_with_risk_score AS (
SELECT d.*,
       CASE WHEN time_in_hospital > 7 THEN 2 ELSE 0 END
       + CASE WHEN number_diagnoses >= 5 THEN 2 ELSE 0 END
       + CASE WHEN age_group IN ('[60-69)', '[70-79)', '[80-89)', '[90-100)') THEN 1 ELSE 0 END AS risk_score
FROM d),
d_with_risk_category AS (
SELECT d.*,
       CASE
          WHEN risk_score <= 1 THEN 'Low'
          WHEN risk_score BETWEEN 2 AND 3 THEN 'Medium'
          ELSE 'High'
       END AS risk_category
FROM d_with_risk_score d
)
SELECT * FROM d_with_risk_category;

UPDATE diabetes_readmissions_clean
SET race = 'African American'
WHERE race = 'AfricanAmerican';

UPDATE diabetes_readmissions_clean
SET medication_change = 'Ch'
WHERE medication_change = 'Yes';

UPDATE  diabetes_readmissions_clean
SET age = REPLACE(REPLACE(age, '[', ''), ')', '');;

In [51]:
df = pd.read_sql("SELECT * FROM diabetes_readmissions_clean", conn)
df.to_csv("../data/stage/readmissions_export.csv", index=False)
df

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_medications,...,number_outpatient,number_emergency,number_inpatient,A1Cresult,max_glu_serum,readmit_30d,los_group,age_group,risk_score,risk_category
0,2278392,8222157,Caucasian,Female,0-10,6,25,1,41,1,...,0,0,0,None,None,0,Short,Young,0,Low
1,149190,55629189,Caucasian,Female,10-20,1,1,3,59,18,...,0,0,0,None,None,0,Short,Young,2,Medium
2,64410,86047875,African American,Female,20-30,1,1,2,11,13,...,2,0,1,None,None,0,Short,Young,2,Medium
3,500364,82442376,Caucasian,Male,30-40,1,1,2,44,16,...,0,0,0,None,None,0,Short,Middle,2,Medium
4,16680,42519267,Caucasian,Male,40-50,1,1,1,51,8,...,0,0,0,None,None,0,Short,Middle,2,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,2600796,1451637,Caucasian,Female,20-30,6,25,1,66,6,...,0,0,0,None,None,0,Short,Young,0,Low
195,2601576,279009,Caucasian,Female,60-70,6,25,1,31,16,...,0,0,0,None,None,0,Short,Senior,2,Medium
196,2602860,511965,Caucasian,Female,60-70,6,25,4,57,17,...,0,0,0,None,None,0,Medium,Senior,2,Medium
197,2629110,2283327,African American,Female,40-50,6,25,6,60,27,...,0,0,0,None,None,1,Medium,Middle,2,Medium
198,2638410,6225435,Caucasian,Female,30-40,6,25,4,65,25,...,0,0,0,None,None,0,Medium,Middle,2,Medium

## 7. Analyze Data

In [36]:
with open("../sql/02_5_analytical_queries.sql", "r") as f:
    sql_script = f.read()

print("Read data SQL:", sql_script, sep="\n")

df = pd.read_sql(sql_script, conn)

df

Read data SQL:
-- Calculates the overall 30-day readmission rate (%)
-- This metric represents the average probability of a patient being readmitted
-- within 30 days after discharge across the entire dataset.
SELECT ROUND(AVG(readmit_30d)*100,1) as readmission_rate_pct
FROM diabetes_readmissions_clean;

   readmission_rate_pct
0                   8.0

In [37]:
with open("../sql/02_6_analytical_queries.sql", "r") as f:
    sql_script = f.read()

print("Read data SQL:", sql_script, sep="\n")

df = pd.read_sql(sql_script, conn)

df

Read data SQL:
-- Calculates readmission rate by length-of-stay group
-- Helps identify whether longer or shorter hospital stays
-- are associated with higher readmission risk.
SELECT los_group,ROUND(AVG(readmit_30d)*100,1) AS readmission_rate_pct
FROM diabetes_readmissions_clean
GROUP BY los_group
ORDER BY readmission_rate_pct DESC;

  los_group  readmission_rate_pct
0    Medium                  11.4
1      Long                   7.5
2     Short                   5.0

In [38]:
with open("../sql/02_7_analytical_queries.sql", "r") as f:
    sql_script = f.read()

print("Read data SQL:", sql_script, sep="\n")

df = pd.read_sql(sql_script, conn)

df

Read data SQL:
-- Calculates readmission rate by age group
-- Used to assess how readmission risk changes across patient age segments.
SELECT age_group, ROUND(AVG(readmit_30d)*100,1) AS readmission_rate_pct
FROM diabetes_readmissions_clean
GROUP BY age_group;

  age_group  readmission_rate_pct
0    Middle                   7.9
1    Senior                   8.8
2     Young                   0.0

In [39]:
with open("../sql/02_8_analytical_queries.sql", "r") as f:
    sql_script = f.read()

print("Read data SQL:", sql_script, sep="\n")

df = pd.read_sql(sql_script, conn)

df

Read data SQL:
-- Calculates readmission rate by discharge disposition
-- Identifies discharge pathways associated with higher readmission risk.
SELECT discharge_disposition_id, ROUND(AVG(readmit_30d)*100,1) AS readmission_rate_pct
FROM diabetes_readmissions_clean
GROUP BY discharge_disposition_id
ORDER BY readmission_rate_pct DESC;

   discharge_disposition_id  readmission_rate_pct
0                         5                  33.3
1                         2                  28.6
2                         3                  25.0
3                         1                   6.8
4                         6                   5.6
5                        25                   3.4
6                        11                   0.0
7                         7                   0.0

In [40]:
with open("../sql/02_9_analytical_queries.sql", "r") as f:
    sql_script = f.read()

print("Read data SQL:", sql_script, sep="\n")

df = pd.read_sql(sql_script, conn)

df

Read data SQL:
---- Calculates readmission rate by risk score
SELECT risk_score,
       ROUND(AVG(readmit_30d)*100,1) AS readmission_rate_pct,
       COUNT(*) AS patient_count
FROM diabetes_readmissions_clean
GROUP BY risk_score
ORDER BY risk_score;

   risk_score  readmission_rate_pct  patient_count
0           0                   3.7             27
1           2                   8.8            136
2           4                   8.3             36

## 8. Save Changes

In [41]:
conn.commit()

conn.close()